---
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: '120'
IncludeBlocks: Preserve
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
SortIncludes: 'false'

...
